<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sole-Haven</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css?v=3.4">
    <link rel="stylesheet" href="user/headerStyle.css" type="text/css">  
    
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <header class="header-area header-style-1 header-height-2">
        <div class="header-top container-fluid p-2" style="background-color: #222222;">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <!-- Navbar Brand or Logo -->
                    <a class="navbar-brand text-white" href="/" style="font-family: Spartan, sans-serif; font-weight: bold;">Sole-Haven</a>

                    <!-- Navbar Toggler for Mobile View -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Navbar Links -->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="page-about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/shop">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="page-about.html">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="page-contact.html">Contact</a>
                            </li>
                        </ul>

                        <!-- Search Form -->
                        <form class="d-flex" action="/search" method="GET" style="flex-grow: 1;">
                            <input class="form-control rounded-pill me-2" name="q" type="search" placeholder="Search" aria-label="Search" required>
                            <button class="btn rounded-pill text-white" type="submit" style="background-color: transparent; border: 1px solid white;">Search</button>
                        </form>

                        <!-- User Account Links -->
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/cart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/wishlist">
                                    <i class="fa-solid fa-heart"></i>
                                </a>
                            </li>
                            <% if (locals.user) { %>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/profile">
                                        <i class="fa-solid fa-user"></i> My account
                                    </a>
                                </li>
                            <% } else { %>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/register">Sign Up</a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Header Section End -->

    </head>

    <body>